<div class={{baseClassName}}></div>
<div class={{activeRegionClassName}} style={{activeRangeStyle}}></div>
{{component startHandleComponentKey
            class=startHandleFullClassName
            isSliding=isSlidingStartHandle
            style=startHandleStyle}}
{{component endHandleComponentKey
            class=endHandleFullClassName
            isSliding=isSlidingEndHandle
            style=endHandleStyle}}
